.board
{
	width: 50%;
	border: 5px;
	padding: 10px;
    background-color: rgb(203, 247, 230);
}
.column
{
	width: 40%;
	border: 5px;
	padding: 10px;
    background-color: rgb(248, 212, 232);
}
.card
{
	width: 20%;
	border: 5px;
	padding: 10px;
    background-color: rgb(226, 241, 170);
}